这是Project requirements1
点击下⽅五个按钮中的任意⼀个，将会激活相应的参数，并点亮指⽰灯。⼀旦激活，中央旋钮将控制所选参数。"
"‘Gain’ 和 ‘EQ’ 按钮各有两组参数。当其中⼀个按钮已点亮时，再次点击它会将中央旋钮的控制切换到另⼀组参数。"

这是Project requirements2
"当你点击另⼀个按钮时，之前所选按钮所控制的参数将保持不变。如果再次点击先前的按钮，参数值、所控制的参数组（对于 Gain 和 EQ），以及旋钮上的指⽰灯条都会恢复到上次记录的状态。"

这是Project requirements3
"‘IR’ 按钮（在吉他⾳箱的上下⽂中代表 ‘脉冲响应’）的⾏为与其他按钮不同。当点击它时，中央旋钮会消失——即光条和表⽰旋钮位置的⿊⾊刻度都会消失。取⽽代之的是，⼀个⼩窗⼜会出现在‘IR’按钮上⽅。窗口的顶部下拉菜单⽤于选择⼯⼚预设 IR，⽽底部下拉菜单⽤于选择⾃定义 IR。⽤户可以通过点击‘Custom IR’按钮，并导航到其⾃定义 IR ⽂件位置来加载⾃⼰的 IR ⽂件。左右箭头按钮可在整个 IR 列表中循环切换。这意味着，当到达⼯⼚ IR 列表的末尾时，下⼀项将会切换到⾃定义 IR，反之亦然。"

这是Project requirements4
"顶部标有 ‘P1’ 到 ‘P5’ 的五个按钮是预设按钮。点击任意⼀个按钮即可选择⼀个预设。再次点击同⼀按钮将会在插件顶部打开预设⾯板。
与 ‘IR’ 按钮类似，选择预设后会禁⽤中央旋钮，并允许⽤户浏览⼯⼚预设和⾃定义预设。
要保存⾃定义预设，请点击 ‘Save’ 按钮。要删除预设，请先在下拉菜单中选择它，然后点击 ‘Delete’ 按钮。"

这是Project requirements5
"当你第⼀次打开插件时，预设按钮 P1 到 P5 默认存储前五个⼯⼚预设：‘The Rocker’、‘Capt. Crunch’、‘Eh-I-See!’、‘Soaring Lead’ 和 ‘Cleaning Up’。
但是，如果在 P(x) 按钮激活的状态下更改了预设选择，P(x) 将存储新的预设。下次点击P(x) 时，它将调⽤并加载新的预设，⽽不是原始⼯⼚预设。"